#wings-btn {
  background-color: red;
  color: white;
  border: black solid 1px;
}

#pred-btn {
  background-color: goldenrod;
  color: black;
  border: black solid 1px;
}

#oil-btn {
  background-color: lightblue;
  color: black;
  border: black solid 1px;
}

#aves-btn {
  background-color: lightsalmon;
  color: white;
  border: black solid 1px;
}

#all-btn {
  background-color: black;
  color: white;
  border: black solid 1px;
}


.sort-btn {
  background-color: rgb(67, 229, 156);
  border-radius: 17px;
}

#app {
  display: flex;
  padding: 10px;
}

#benchedCards {
  padding: 5px;
}

#players {
  margin: 2px;
}
