#wings-btn {
  background-color: red;
  color: white;
  border: black solid 1px;
}

#pred-btn {
  background-color: goldenrod;
  color: black;
  border: black solid 1px;
}

#oil-btn {
  background-color: darkblue;
  color: white;
  border: black solid 1px;
}

#aves-btn {
  background-color: #800020;
  color: white;
  border: black solid 1px;
}

#all-btn {
  background-color: black;
  color: white;
  border: black solid 1px;
}

/* #benchBtn {
  margin: 15px;
  height: 15%;
  width: 20%;
  border: black solid 1px;
  background-color: black;
  color: white;
} */

.sort-btn {
  background-color: lightsalmon;
  border-radius: 17px;
}
